<h1 style="text-align: center">
  <strong
    ><span style="color: #993366">What is Functional Dependency?</span></strong
  >
</h1>
<p>&nbsp;</p>
<p>
  In relational database theory, a functional dependency is a constraint between
  two sets of attributes in a relation from a database. Given a relation R, a
  set of attributes X in R is said to functionally determine another set of
  attributes Y, also in R, (written X &rarr; Y) if, and only if, each X value in
  R is associated with precisely one Y value in R; R is then said to satisfy the
  functional dependency X &rarr; Y. lets look at an example
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="width: 76.1974%; border-collapse: collapse; height: 72px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 15.7112%; height: 18px">
          <strong>EmployeeID</strong>
        </td>
        <td style="width: 18.9042%; height: 18px">
          <strong>EmployeeName</strong>
        </td>
        <td style="width: 18.9042%; height: 18px">
          <strong>DepartmentID</strong>
        </td>
        <td style="width: 22.8229%; height: 18px">
          <strong>DepartmentName</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 15.7112%; height: 18px">1</td>
        <td style="width: 18.9042%; height: 18px">Ashutosh</td>
        <td style="width: 18.9042%; height: 18px">1</td>
        <td style="width: 22.8229%; height: 18px">R&amp;D</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 15.7112%; height: 18px">2</td>
        <td style="width: 18.9042%; height: 18px">Sachin</td>
        <td style="width: 18.9042%; height: 18px">2</td>
        <td style="width: 22.8229%; height: 18px">Software Engineering</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 15.7112%; height: 18px">3</td>
        <td style="width: 18.9042%; height: 18px">Meghaj</td>
        <td style="width: 18.9042%; height: 18px">1</td>
        <td style="width: 22.8229%; height: 18px">R&amp;D</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  Here we have a functional dependency, Department ID &rarr; DepartmentName what
  it implies is that suppose we have two DepartmentID deptid1 and deptid2 then
  if it is the case that deptid1 = deptid2 then it is guaranteed that their
  corresponding DepartmentName deptname1 and deptname2 should also be same.
  Other than this we also have other functional dependencies here (Employee ID
  &rarr; Employee Name, Employee ID &rarr; Department ID)
</p>
<h1 style="text-align: center">
  <strong><span style="color: #993366">1st Normal Form(1NF)</span></strong>
</h1>
<p>&nbsp;</p>
<ul>
  <li>
    <p>
      Rules for First Normal form. A table must satisfy <strong>all</strong> the
      rules specified below to be in First Normal Form.
    </p>
    <ul>
      <li>
        <p>
          Each column values must be atomic. Columns cannot contain sub-columns
          in the first normal form. That is, you cannot list multiple cities in
          one column and separate them with a semi-colon. &ldquo;Chicago&rdquo;
          is atomic; whereas &ldquo;Chicago; Los Angeles; New York&rdquo; is
          not.&nbsp;
        </p>
      </li>
      <li>
        <p>
          Table should not contain repeating groups of columns. Multiple fields
          in a single table should not be used to store similar data. For
          example, column names like Telephoneno1, Telephoneno2, Telephone3 in a
          table all store similar data but use multiple columns. What if a
          customer gets a new telephoneno then we have to change schema of the
          table to add column telephoneno4 to the table. Clearly it is not a
          good design.
        </p>
      </li>
      <li>
        <p>Table records must be uniquely identified using a primary key.</p>
      </li>
    </ul>
  </li>
</ul>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 71.2627%"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 13.6792%"><strong>CustomerID</strong></td>
        <td style="width: 15.8564%"><strong>FirstName</strong></td>
        <td style="width: 18.759%"><strong>SecondName</strong></td>
        <td style="width: 22.1963%"><strong>TelephoneNos</strong></td>
      </tr>
      <tr>
        <td style="width: 13.6792%">1</td>
        <td style="width: 15.8564%">Sachin</td>
        <td style="width: 18.759%">Bisht</td>
        <td style="width: 22.1963%">8888888;999999;453456</td>
      </tr>
      <tr>
        <td style="width: 13.6792%">2</td>
        <td style="width: 15.8564%">Meghaj</td>
        <td style="width: 18.759%">Singh</td>
        <td style="width: 22.1963%">874567;234512</td>
      </tr>
      <tr>
        <td style="width: 13.6792%">3</td>
        <td style="width: 15.8564%">Ashutosh</td>
        <td style="width: 18.759%">Kumar</td>
        <td style="width: 22.1963%">876543</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <strong><span style="text-decoration: underline">Table-0</span></strong>
</p>
<p>
  Lets normalise the Table-0 make it to 1st normal form by applying 1NF rules
</p>
<p>
  <strong>Rule 1</strong>: Every column value must be atomic. Here values in
  column TelephoneNos are not atomic as each column contains multiple telephone
  nos. To solve this we put each of the multiple values in a separate column in
  the table as shown in table below.
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 89.5501%; height: 72px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 14.3445%; height: 18px">
          <strong>CustomerID</strong>
        </td>
        <td style="width: 13.0382%; height: 18px">
          <strong>FirstName</strong>
        </td>
        <td style="width: 15.9411%; height: 18px">
          <strong>SecondName</strong>
        </td>
        <td style="width: 15.941%; height: 18px">
          <strong>TelephoneNo1</strong>
        </td>
        <td style="width: 14.4896%; height: 18px">
          <strong>TelephoneNo2</strong>
        </td>
        <td style="width: 15.7959%; height: 18px">
          <strong>TelephoneNo3</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 14.3445%; height: 18px">1</td>
        <td style="width: 13.0382%; height: 18px">Sachin</td>
        <td style="width: 15.9411%; height: 18px">Bisht</td>
        <td style="width: 15.941%; height: 18px">888888</td>
        <td style="width: 14.4896%; height: 18px">999999</td>
        <td style="width: 15.7959%; height: 18px">453456</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 14.3445%; height: 18px">2</td>
        <td style="width: 13.0382%; height: 18px">Meghaj</td>
        <td style="width: 15.9411%; height: 18px">Singh</td>
        <td style="width: 15.941%; height: 18px">874567</td>
        <td style="width: 14.4896%; height: 18px">234512</td>
        <td style="width: 15.7959%; height: 18px">NULL</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 14.3445%; height: 18px">3</td>
        <td style="width: 13.0382%; height: 18px">Ashutosh</td>
        <td style="width: 15.9411%; height: 18px">Kumar</td>
        <td style="width: 15.941%; height: 18px">876543</td>
        <td style="width: 14.4896%; height: 18px">NULL</td>
        <td style="width: 15.7959%; height: 18px">NULL</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <strong>Rule 2:&nbsp;</strong>Table should not contain repeating group of
  columns. Here columns TelephoneNo1 ,TelephoneNo2, TelephoneNo3 all store same
  information TelephoneNo of the customer but in multiple columns. It is not a
  good design as if a customer gets a new TelephoneNo then we have to alter the
  schema of the table. To solve this we divide the table into 2 tables and link
  one to another using a foreign key.
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 61.3474%; height: 126px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">
          <strong>CustomerID</strong>
        </td>
        <td style="width: 14.141%; height: 18px"><strong>FirstName</strong></td>
        <td style="width: 15.6199%; height: 18px">
          <strong>SecondName</strong>
        </td>
        <td style="width: 14.8371%; height: 18px">
          <strong>TelephoneNoId</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">1</td>
        <td style="width: 14.141%; height: 18px">Sachin</td>
        <td style="width: 15.6199%; height: 18px">Bisht</td>
        <td style="width: 14.8371%; height: 18px">1</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">1</td>
        <td style="width: 14.141%; height: 18px">Sachin</td>
        <td style="width: 15.6199%; height: 18px">Bisht</td>
        <td style="width: 14.8371%; height: 18px">2</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">1</td>
        <td style="width: 14.141%; height: 18px">Sachin</td>
        <td style="width: 15.6199%; height: 18px">Bisht</td>
        <td style="width: 14.8371%; height: 18px">3</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">2</td>
        <td style="width: 14.141%; height: 18px">Meghaj</td>
        <td style="width: 15.6199%; height: 18px">Singh</td>
        <td style="width: 14.8371%; height: 18px">4</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">2</td>
        <td style="width: 14.141%; height: 18px">Meghaj</td>
        <td style="width: 15.6199%; height: 18px">Singh</td>
        <td style="width: 14.8371%; height: 18px">5</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.4927%; height: 18px">3</td>
        <td style="width: 14.141%; height: 18px">Ashutosh</td>
        <td style="width: 15.6199%; height: 18px">Kumar</td>
        <td style="width: 14.8371%; height: 18px">6</td>
      </tr>
    </tbody>
  </table>
</div>
<p style="text-align: left">
  <span style="text-decoration: underline"><strong>Table-1</strong></span>
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 31.9304%; height: 146px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">
          <strong>TelephoneNoId</strong>
        </td>
        <td style="width: 16.6326%; height: 18px">
          <strong>TelephoneNo</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">1</td>
        <td style="width: 16.6326%; height: 18px">888888</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">2</td>
        <td style="width: 16.6326%; height: 18px">999999</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">3</td>
        <td style="width: 16.6326%; height: 18px">453456</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">4</td>
        <td style="width: 16.6326%; height: 18px">874567</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">5</td>
        <td style="width: 16.6326%; height: 18px">234512</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 21.2025%; height: 18px">6</td>
        <td style="width: 16.6326%; height: 18px">876543</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-2</strong></span>
</p>
<p>
  Here <strong>TelephoneNoId</strong> is a foreign key which links Table1 with
  Table2.
</p>
<p>
  <strong>Rule 3:</strong> Each table records must be uniquely identifided by a
  primary key. <br />
  Table-1: primary key: {CustomerId,TelephoneNoId} <br />
  Table-2: primary key: {TelephoneNoId}
</p>
<p>
  Although the current design contains redundant data but the tables are in
  First Normal Form. We will improve over this design using 2 Normal Form.
</p>
<p>&nbsp;</p>
<h1 style="text-align: center">
  <strong><span style="color: #993366">Second Normal Form(2NF)</span></strong>
</h1>
<p>&nbsp;</p>
<ul>
  <li>
    <p>
      Rules for Second Normal form. A table must satisfy
      <strong>all</strong> the rules specified below to be in Second Normal
      Form.
    </p>
    <ul>
      <li><p>It is in first normal form.</p></li>
      <li>
        <p>
          A non-prime attribute of a relation is an attribute that is not a part
          of <strong>any</strong> candidate key of the relation. Table should
          not have any non-prime attribute that is functionally dependent on any
          <strong>proper subset</strong> of any candidate key of the
          relation(also called partial dependency). Since proper subset can also
          be empty so all non-prime attributes which donot depend on candidate
          key of table also violates 2NF.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <p>
      Once a table is in second normal form, we are guaranteed that every column
      is dependent on the primary key. When all the columns relate to the
      primary key, they naturally share a common purpose, such as describing an
      employee. Every Column of the table should serve to describe what the
      primary key of the table identifies, if it is not the case then that
      column must be moved to another table.
    </p>
  </li>
</ul>
<p>
  <span style="text-decoration: underline">
    <strong
      ><span style="color: #003300; text-decoration: underline"
        >Let's apply rules of 2NF to Table-1</span
      ></strong
    >
  </span>
</p>
<p>
  <strong>Rule 1</strong>: It should be in 1NF. We have already normalised it to
  1NF so this rules is satisfied
</p>
<p>
  <strong>Rule 2:</strong> No non-prime attribute should depend on proper subset
  of any candidate key of table. we have only one candidate key which is also
  the primary key of Table-1.<br />
  <strong>Table-1 candidate key:</strong> {CustomerId,TelephoneId}.<br />
  <strong>Table-1 functional dependencies:</strong> {CustomerId -&gt;
  (FirstName,SecondName) }<br />
  {FirstName, SecondName} are non-prime attributes and they depend on proper
  subset{CustomerId} of candidate key hence 2NF is violated.
</p>
<p>
  To resolve 2NF violation we divide Table-1 into two tables Table-1.1 and
  Table-1.2 according to the following rule,<br />
  Let R be the schema that is not in 2NF due to the functional dependency
  (X-&gt;Y) then we replace R in our design with (XUY) and (R- (Y-X)). Here
  X={CustomerId}, Y={FirstName,SecondName},
  R={CustomerId,FirstName,SecondName,TelephoneNoId}.
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 48.1428%; height: 72px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 11.1492%; height: 18px">
          <strong>CustomerId</strong>
        </td>
        <td style="width: 15.6105%; height: 18px">
          <strong>FirstName</strong>
        </td>
        <td style="width: 9.45607%; height: 18px">
          <strong>SecondName</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 11.1492%; height: 18px">1</td>
        <td style="width: 15.6105%; height: 18px">Sachin</td>
        <td style="width: 9.45607%; height: 18px">Bisht</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 11.1492%; height: 18px">2</td>
        <td style="width: 15.6105%; height: 18px">Meghaj</td>
        <td style="width: 9.45607%; height: 18px">Singh</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 11.1492%; height: 18px">3</td>
        <td style="width: 15.6105%; height: 18px">Ashutosh</td>
        <td style="width: 9.45607%; height: 18px">Kumar</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-1.1</strong></span>
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 32.2206%; height: 126px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">
          <strong>TelephoneId</strong>
        </td>
        <td style="width: 3.42466%; height: 18px">
          <strong>CustomerId</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">1</td>
        <td style="width: 3.42466%; height: 18px">1</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">2</td>
        <td style="width: 3.42466%; height: 18px">1</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">3</td>
        <td style="width: 3.42466%; height: 18px">1</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">4</td>
        <td style="width: 3.42466%; height: 18px">2</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">5</td>
        <td style="width: 3.42466%; height: 18px">2</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 8.00127%; height: 18px">6</td>
        <td style="width: 3.42466%; height: 18px">3</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-1.2</strong></span>
</p>
<p>
  <span style="text-decoration: underline">
    <span style="color: #333300; text-decoration: underline"
      ><strong>Let's apply 2NF rules to Table-2 now,</strong></span
    >
  </span>
</p>
<p>
  <strong>Table-2 primary key:</strong> {TelephoneNoId}
  <strong>
    <br />
    Table-2 functional dependencies:
  </strong>
  {TelephoneNoId-&gt; TelephoneNo}<br />
  It is clear that Table-2 is already is in 2NF as it satisfies both the rules
  so there is no need to normalise it.
</p>
<p>
  Our tables Table-1.1, Table-1.2 and Table-2 are normalised to 2NF now. And
  fortunately they are also in Third Normal Form(read about 3NF below) so we do
  not have to Normalise them further and these tables can be used in Production
  database instead of using Table-0.
</p>
<p>&nbsp;</p>
<h1 style="text-align: center">
  <strong><span style="color: #993366">Third Normal Forms(3NF)</span></strong>
</h1>
<p>&nbsp;</p>
<ul>
  <li>
    <p>
      A transitive dependency is a functional dependency in which X -&gt; Z (X
      determines Z) indirectly, by virtue of X -&gt; Y and Y -&gt; Z (where it
      is not the case that Y -&gt; X). Ex. Greater than comparison(&gt;) is
      transitive since if A is greater than B, and B is greater than C, then it
      follows that A is greater than C.
    </p>
  </li>
  <li>
    <p>
      Rules for Third Normal form. A table must satisfy <strong>all</strong> the
      rules specified below to be in Third Normal Form.
    </p>
    <ul>
      <li><p>A table is in 2nd normal form.</p></li>
      <li>
        <p>
          It contains only columns that are non-transitively dependent on the
          primary key that is all the attributes (e.g. database columns) are
          functionally dependent on <strong>solely</strong> the primary key
        </p>
      </li>
    </ul>
  </li>
</ul>
<p>Let's look at an example to understand it better.</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 59.9359%; height: 72px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 16.4743%; height: 18px">
          <strong>CustomerId</strong>
        </td>
        <td style="width: 20.4508%; height: 18px">
          <strong>CustomerName</strong>
        </td>
        <td style="width: 14.5176%; height: 18px">
          <strong>CustomerCity</strong>
        </td>
        <td style="width: 17.1913%; height: 18px">
          <strong>CustomerPostalCode</strong>
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 16.4743%; height: 18px">1</td>
        <td style="width: 20.4508%; height: 18px">Pushpendra&nbsp;</td>
        <td style="width: 14.5176%; height: 18px">Mathura</td>
        <td style="width: 17.1913%; height: 18px">281006</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 16.4743%; height: 18px">2</td>
        <td style="width: 20.4508%; height: 18px">Sachin</td>
        <td style="width: 14.5176%; height: 18px">Pune</td>
        <td style="width: 17.1913%; height: 18px">411015</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 16.4743%; height: 18px">3</td>
        <td style="width: 20.4508%; height: 18px">Meghaj</td>
        <td style="width: 14.5176%; height: 18px">Haryana</td>
        <td style="width: 17.1913%; height: 18px">122011</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-3</strong></span>
</p>
<p>
  Table-3 is in 2NF. With 2NF we have all attributes depend on primary key but
  there could be dependencies between columns that could cause inconsistency.
  There<strong> occurs transitive Dependency:</strong> {CustomerCity -&gt;
  CustomerPostalCode} in Table-3 as CustomerId -&gt; CustomerCity while
  CustomerCity is not functionally dependent on CustomerId and CustomerCity
  -&gt; CustomerPostalCode. This transitive dependency can cause update anomaly
  as
  <span style="font-weight: 400"
    >you could update the CustomerPostalCode without making a corresponding
    update to the CustomerCity. Hence this transitive dependency needs to be
    removed.</span
  >
</p>
<p>
  <span style="text-decoration: underline">
    <span style="color: #003300"
      ><strong>Let's normalise Table-3 to 3NF&nbsp;</strong></span
    >
  </span>
</p>
<p>
  We divide Table-3 into two tables Table-3.1 and Table-3.2 according to the
  rule below:<br />
</p>
<p>
  Let R be the schema that is not in 3NF due to the transitive dependency
  (X-&gt;Y) then we replace R in our design with (XUY) and (R- (Y-X)). Here
  X={CustomerCity}, Y={CustomerPostalCode},
  R={CustomerId,CustomerName,CustomerCity,CustomerPostalCode}.
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 47.5419%"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 13.8505%"><strong>CustomerId</strong></td>
        <td style="width: 14.5708%"><strong>CustomerName</strong></td>
        <td style="width: 12.283%"><strong>CustomerCity</strong></td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.8505%; height: 18px">1</td>
        <td style="width: 14.5708%; height: 18px">Pushpendra&nbsp;</td>
        <td style="width: 12.283%; height: 18px">Mathura</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.8505%; height: 18px">2</td>
        <td style="width: 14.5708%; height: 18px">Sachin</td>
        <td style="width: 12.283%; height: 18px">Pune</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 13.8505%; height: 18px">3</td>
        <td style="width: 14.5708%; height: 18px">Meghaj</td>
        <td style="width: 12.283%; height: 18px">Haryana</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-3.1</strong></span>
</p>
<div style="overflow-x: auto">
  <table
    class="styledTable"
    style="border-collapse: collapse; width: 36.2138%; height: 72px"
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 7.81893%; height: 18px">CustomerCity</td>
        <td style="width: 14.0583%; height: 18px">CustomerPostalCode</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 7.81893%; height: 18px">Mathura</td>
        <td style="width: 14.0583%; height: 18px">281006</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 7.81893%; height: 18px">Pune</td>
        <td style="width: 14.0583%; height: 18px">411015</td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 7.81893%; height: 18px">Haryana</td>
        <td style="width: 14.0583%; height: 18px">122011</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <span style="text-decoration: underline"><strong>Table-3.2</strong></span>
</p>
<p>
  By dividing Table-3 into two separate tables Table-3.1 and Table-3.2 we have
  removed the functional dependency from the Table-3 and improved the database
  design. It is better to use Table-3.1 and Table-3.2 in Production instead of
  Table-3.
</p>
<p>
  <span style="color: #003300"
    ><strong
      >With this, we finished the discussion about Normal Forms. Hope you
      learned something new here.</strong
    ></span
  >
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
