.title{
    margin: 40px 40px 0px 40px;
}

.companyAndName{
    padding-left: 40px;
    padding-right: 40px;
}

.contact-info{
    margin: 10px 40px 10px 40px;
}


.submitButton{
   margin-left: 50%;
   margin-top: 10px;
}

section{
    display:inline;
    background-color:orange;
    width: 300px;
    margin-left: 40px;
    padding-left: 5px;
}