<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N44YSTHRD5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N44YSTHRD5');
    </script>
    <title>CodeBay</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/composeForm.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <script src="/ckEditor/ckeditor.js" type="text/javascript"></script>
    <% if(message){ %>
        <div style="text-align: center" class="alert alert-<%=message.type%>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%=message.intro%></strong> <%=message.message%>
        </div>
    <% } %>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/icon.png" alt="codebay logo" width="30" height="24" class="d-inline-block align-top">
          Home
        </a>
      </div>
    </nav>
    
    <form action="" method="post">
       
        <div class="form-group title" >
            <input type="text" class="form-control" name="title" placeholder="*title">
        </div>
        <div class="form-row name-email">
            <div class="col">
                <input type="text" class="form-control" name="name"  placeholder="*your name">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="email" placeholder="*your email">
            </div>
        </div>
        <textarea name="content" id="editor" cols="10" rows="30" ></textarea>
        <button type="submit" class="btn btn-primary submitButton">submit</button>
    </form>
    <script>
        CKEDITOR.replace("content");
    </script>
</body>
</html>