<%- include('../partials/header') %>
<!-- <img src="/images/rocketship.gif" id="bg" alt="bg"> -->
<style>
  /* #bg {
  position: fixed; 
  top: 85px; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
} */
body{
  
  background-image: url('/images/bg1.png');
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
<!-- <script>
  if(locals.user)
  {
    var x=document.getElementById("sign-up-link");
    x.innerHtml=user.name;
  }
</script> -->
</body>
<footer></footer>
</html>
