<%- include('../partials/header') %>
<!-- <img src="/images/rocketship.gif" id="bg" alt="bg"> -->
<style>
  /* #bg {
  position: fixed; 
  top: 85px; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
} */
body{
  background-color:#364f6b;
  
}

</style>
<!-- <script>
  if(locals.user)
  {
    var x=document.getElementById("sign-up-link");
    x.innerHtml=user.name;
  }
</script> -->
</body>
<footer></footer>
</html>
