<%- include('../partials/header') %>
<style>
  body{
    background-image: url("../../images/backgroundImage.jpg");
  }
</style>
<!-- <script>
  if(locals.user)
  {
    var x=document.getElementById("sign-up-link");
    x.innerHtml=user.name;
  }
</script> -->
</body>
<footer></footer>
</html>
