<%- include('../../partials/top') %>
<title>Subjects</title>
</head>
<body>
    <h1 style="text-align: center;color:blueviolet;margin-top:30px;">Subjects</h1>
    <%for(var i=0;i<subjects.length;i++){%>
        <div style="padding:20px;border: 2px solid black;margin:10px 40px 10px 40px;">
            <a href="/blog/find/<%=subjects[i]%>"><%=subjects[i]%></a>
        </div>
    <%}%>
</body>
</html>